body{
    font-family: 'Handlee', cursive;
    font-size: 13pt;
    background-color: #efefef;
    padding: 10px;
    margin: 0;
}
.section{
    background-image: url("papervintage.jpg");
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
h1 {
    font-size: 15pt;
    color: #000000;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px #000000;
    padding: 10px;
}
p {
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.picture{
    background-image: url("musical.jpg");
    padding: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
}
img{
    border-radius: 15%;
}